@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("../fonts/static/Inter-ExtraBold.ttf");
}

//-- colors
$primary-clr-500: hsl(35, 77%, 62%);
$primary-clr-600: hsl(5, 85%, 63%);
$neutral-clr-400: hsl(36, 100%, 99%);
$neutral-clr-500: hsl(233, 8%, 79%);
$neutral-clr-700: hsl(236, 13%, 42%);
$neutral-clr-800: hsl(240, 100%, 5%);
//-- utilities
$ff: "Inter", sans-serif;

.fs-s {
  font-size: clamp(0.875rem, 2vw, 0.9375rem);
}

.fs-ms {
  font-size: 1rem;
}

.fs-m {
  font-size: clamp(1.0625rem, 2vw, 1.125rem);
}

.fs-ml {
  font-size: clamp(1.125rem, 1.05vw, 2rem);
}

.fs-mm {
  font-size: clamp(1.75rem, 3vw, 2rem);
}

.fs-xl {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

.fs-xxl {
  font-size: clamp(2.75rem, 6.5vw, 3.75rem);
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh--1-7 {
  line-height: 1.7;
}

.lh--1-8 {
  line-height: 1.8;
}
